.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 37px;
    padding: 8px;

    background: #F6CF45;
    
    color: black;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
   
}
.c1{
    position: relative;
    left: 10px;
}
.c2{
    position: relative;
    left: 120px;
}
.c3{
    position: relative;
    left: 250px;
}
button{
    background-color: #2B12C4;
    color: white;
    padding: 5px;
    
    padding: 14px 60px;
   
    border: none;
    text-align: center;
   
    
    
}
.sec{
    background-color: white;
    
    padding:60px ;
    padding-top: 130px;
    padding-bottom: 210px;
   padding-left: 110px;
   
}
.sec2{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 110px;
    padding-left: 70px;
    padding-right: 70px;
}
table,th,td{
    padding: 10px;
}
.sec3{
    border: 5px solid whitesmoke;
    padding: 20px;
    border-radius: 20px;
}
.end{
    background-color:white;
    padding-top: 60px;
    padding-bottom: 130px;
    padding-left: 70px;
    padding-right: 70px;
    
}
.button1 {
    background-color: white; 
    color: black; 
    border-radius: 5px;
    
  }
  
  .end2{
      position: relative;
      left: 70px;

  }
  .end3{
   position: relative;
   left: 200px;
  }
  